[project]
	description = Python wrapper of Android uiautomator test tool. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/贺晓聪 (xiaocong)
[access "refs/for/refs/*"]
	read = group user/贺晓聪 (xiaocong)
	push = group user/贺晓聪 (xiaocong)
	label-Code-Review = -2..+2 group user/贺晓聪 (xiaocong)
	label-Verified = -1..+1 group user/贺晓聪 (xiaocong)
	rebase = group user/贺晓聪 (xiaocong)
	removeReviewer = group user/贺晓聪 (xiaocong)
	submit = group user/贺晓聪 (xiaocong)
[access "refs/heads/*"]
	read = group user/贺晓聪 (xiaocong)
	create = group user/贺晓聪 (xiaocong)
	push = +force group user/贺晓聪 (xiaocong)
	pushMerge = group user/贺晓聪 (xiaocong)
[access "refs/tags/*"]
	push = +force group user/贺晓聪 (xiaocong)
	pushTag = group user/贺晓聪 (xiaocong)
	pushSignedTag = group user/贺晓聪 (xiaocong)
